/*---------- General Styles ----------*/
body {
    font-family: 'Roboto', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
    color: #F2F2F2;
    font-weight: 300;
}

.section-header {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

/*---------- Navbar Items ----------*/

/* Bring the navbar to the front and set opacity so you can see the background image */
.navbar {
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}

.nav-link {
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #F29D52;
    transform: scale(1.1);
}

.navbar-dark .navbar-nav .nav-link:focus{
    color: #F29D52;
}

.nav-item {
    margin-right: 20px;
}

/*---------- Jumbotron ----------*/
.jumbotron-container {
    position: relative;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 80vh;
}

.jumbotron {
    position: relative;
    height: 75%;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron-header {
    color: #F2F2F2;
}

/*---------- Footer ----------*/
footer {
    background-color: #25261E;
    color: #F2F2F2;
}

.email-link {
    color: #F2F2F2;
    font-weight: 300;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.email-link:hover {
    color: #F29D52;
    text-decoration: none;
}

.social-media-link i{
    color: #F2F2F2;
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.social-media-link i:hover{
    color: #F29D52;
    transform: scale(1.3);
}

.social-media-link-jumbotron i{
    color: #1DB954; /* Spotify Green */
    font-size: 35px;
    height: 40px;
    width: 40px;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.social-media-link-jumbotron i:hover{
    transform: scale(1.3);
}

/*---------- Upcoming Concerts ----------*/
.concert {
    margin-bottom: 15px;
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    border-radius: 0.3rem;
    padding-top: 15px;
    padding-left: 15px;
    border-color: #F29D52;
    border-style: solid;
}

.concert-location {
    text-align: center;
    font-weight: 700;
}

/*---------- Images ----------*/
.hero-image {
    background-image: url(../images/sam-browne-VAu2j8My3-0-unsplash-resize.jpg); 
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

/*---------- Media Queries ----------*/

/* Medium Devices - 7698x and above */
@media screen and (min-width: 768px) {
    /* Align the booking button to the right of the nav bar */
    .btn-bookings {
        position: absolute;
        margin-right: 16px;
        right: 0;
    }
}